framework: net8.0, netstandard2.1
source https://api.nuget.org/v3/index.json

// PRODUCTION STUFF
nuget Microsoft.Extensions.Caching.Abstractions 8.0.0
nuget Microsoft.Extensions.DependencyInjection 8.0.0
nuget Microsoft.Extensions.DependencyInjection.Abstractions 8.0.1
nuget Microsoft.Extensions.FileProviders.Abstractions  8.0.0
nuget Microsoft.Extensions.Configuration 8.0.0
nuget Microsoft.Extensions.Configuration.Abstractions 8.0.0
nuget Microsoft.Extensions.Configuration.FileExtensions 8.0.0
nuget Microsoft.Extensions.Configuration.Binder 8.0.1
nuget Microsoft.Extensions.Configuration.Json 8.0.0
nuget Microsoft.Extensions.Logging 8.0.0
nuget Microsoft.Extensions.Logging.Abstractions 8.0.1
nuget Microsoft.Extensions.Primitives 8.0.0
nuget Microsoft.Extensions.FileSystemGlobbing 8.0.0

nuget MessagePack 2.5.140
nuget MessagePackAnalyzer 2.5.140

nuget AWSSDK.Core 3.7.302.16
nuget AWSSDK.S3 3.7.305.31

// VBR STUFF
nuget Be.Vlaanderen.Basisregisters.Build.Pipeline 7.0.4

// TEST STUFF
nuget Microsoft.NET.Test.Sdk 17.9.0
nuget Microsoft.NETCore.Platforms 7.0.4
nuget xunit 2.7.0
nuget xunit.runner.visualstudio 2.5.7
nuget FluentAssertions 6.12.0

// BUILD STUFF
nuget SourceLink.Embed.AllSourceFiles 2.8.3 copy_local: true
nuget SourceLink.Copy.PdbFiles 2.8.3 copy_local: true
